:root {
    --title: #1d243b;
    --background: #bcc0d3;
    --primary_dark: #434d75;
    --primary_dark_hover: #67729c;
    --primary_light: #bcc0d3;
    --secondary: #285b5e;
    --secondary_hover: #558e91;
}

#root {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#footer {
    background-color: var(--title);
    height: 5rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: white;
    padding: 2em 0;
    text-align: center;
}

#header {
    background-color: var(--title);
}

#app > .container {
    padding-bottom: 2em;
    margin-bottom: 5em;
}

.row > .container > .card_bg {
    background-color: var(--primary_light);
    color: black;
    min-height: 18.5rem;
}

.row > .container > .card_bg__alt {
    background-color: var(--secondary);
    color: black;
    min-height: 18.5rem;
}

.search {
    color: black;
}

.results {
    color: black;
}

.btn.btn_bowen {
    background-color: var(--primary_dark);
    color: white;
}

.btn.btn_bowen:hover {
    background-color: var(--primary_dark_hover);
    color: white;
}

.btn.btn_bowen__alt {
    background-color: var(--secondary);
    color: white;
}

.btn.btn_bowen__alt:hover {
    background-color: var(--secondary_hover);
    color: white;
}

.dropdown-menu {
    max-height: 55svh;
    overflow-y: scroll;
}

.spinner {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}