* {
    box-sizing: border-box;
}

body {
    background-color: darkslategrey;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    background-color: lightgray;
    max-width: 900px;
    margin: 80px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.center {
    text-align: center;
    margin: auto;
    width: 100%;
}

.right {  
    text-align: right;
    padding-right: 10px;
}

.column {
    float: left;
    width: 50%;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.pt {
    padding-top: .5em;
}

.pb {
    padding-bottom: 1em;
}

.btn-search {
    background-color: rgb(219, 123, 243);
    cursor: pointer;
}

.error {
    font-size: larger;
    color: red;
}

.correct {
    font-size: 1.5em;
    color: green;
}

.incorrect {
    font-size: 1.5em;
    color: red;
}

#conversion {
    Font-size: 1.5em;
    font-weight: bold;
    margin-top: .25em;
}

.resCard {
    background-color: lightgray;
    max-width: 400px;
    margin: 80px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}